main.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 5px;
}

.create-message {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 1rem;
  box-shadow: inset 0px 0px 5px gainsboro;
}

.create-message > h2 {
  font-size: 1.5rem;
}

.create-message > a {
  text-decoration: none;
  color: #000;
  box-shadow: 0px 0px 2px 2px black;
  padding: 0.3rem 0.6rem;
  transition: background-color ease 150ms;
}

.create-message > a:hover {
  background-color: gainsboro;
}

.create-message > a:active {
  background-color: #fff;
}

section {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: gainsboro;
  cursor: pointer;
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-property: filter;
  height: fit-content;
}

section:hover {
  filter: brightness(0.9);
}

section:active {
  filter: brightness(1.1);
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-details > h3 {
  font-size: 1.3rem;
}

.user-details span {
  font-weight: 500;
}

.delete {
  align-self: center;
  background-color: rgba(255, 0, 0, 0.485);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color ease 150ms;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.752);
}

.no-messages {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}
