.message-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 1rem;
  box-shadow: inset 0px 0px 5px gainsboro;
}

.message-details > h2 {
  font-size: 1.5rem;
}

.message-details > a:first-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.message-details > a {
  text-decoration: none;
  color: #000;
  box-shadow: 0px 0px 2px 2px black;
  padding: 0.3rem 0.6rem;
  transition: background-color ease 150ms;
}

.message-details > a:hover {
  background-color: gainsboro;
}

.user-details {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-details span {
  font-weight: 500;
}

.user-details > h3 {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.text {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text > h4 {
  font-size: 1.3rem;
}

@media (max-width: 500px) {
  .user-details {
    flex-direction: column;
    justify-content: initial;
  }
}
