<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="96x96" href="/webicons/web-icon-96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/webicons/web-icon-32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/webicons/web-icon-16.png" />
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>
