<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <header>
      <h1>Mini Message Board Web App</h1>
      <p>An easy to use web app where you can view, create, and delete messages</p>
    </header>
    <main>
      <div class="create-message">
        <h2>Below are all created messages</h2>
        <a href="/new">Create a new message!</a>
      </div>
      <% messages.forEach((message) => { %>
      <section data-id="<%= message.id %>">
        <%- include("../partials/user", {message}) %>
        <button class="delete">Delete</button>
      </section>
      <% })%>
    </main>
    <%- include("../partials/footer") %>
    <script src="/index.js"></script>
  </body>
</html>
