<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <p>
      The message you requested isn't available. It could have been deleted or moved, or it might have never
      existed.
    </p>
    <a href="/">Home</a>
    <a href="/new">Create a new message</a>
  </body>
</html>
