<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="message-details">
        <h2>Message Details</h2>
        <a href="/">Home</a>
      </div>
      <%- include("../partials/user") %>
      <div class="text">
        <h4>Text:</h4>
        <p><%= message.text %></p>
      </div>
    </main>
  </body>
</html>
