<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <main>
      <p>
        The message you requested isn't available. It could have been deleted or moved, or it might have never
        existed.
      </p>
      <section>
        <a href="/">Home</a>
        <a href="/new">Create a new message</a>
      </section>
    </main>
  </body>
</html>
